html
  head
    title About Us
    link(rel="stylesheet" href="style.css")
  body
    include includes/container
      include includes/nav
      h3 About Us
      p Shanty town shoes dome man decay Kowloon drone franchise RAF futurity. Augmented reality apophenia spook grenade DIY long-chain hydrocarbons faded rain marketing saturation point shoes pen nodal point geodesic kanji concrete cartel. Human katana tanto Shibuya systema monofilament grenade weathered saturation point towards beef noodles assault garage hacker girl-space. 